<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/StyleSheet/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <nav
      class="nav border bg-blue-400 flex justify-between items-center px-2 py-4 text-white font-bold"
    >
    
    </nav>
    <div class="Hero"> 
      <h2 class="text-red-400">
        <a href="/"> Go Back</a>
      </h2>
    </div>
  </body>
</html>
